@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    font-family: 'Lexend Deca', sans-serif;
}
body{
    max-width: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container{
    display: flex;
    color: #fff;
    width: 1440px;
    line-height: 1.5;
}
h3{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    text-transform: uppercase;
}
.first{
    background-color: hsl(31, 77%, 52%);
}
.first button{
    color:hsl(31, 77%, 52%);
}
.second{
   background-color: hsl(184, 100%, 22%); 
}
.second button{
    color: hsl(184, 100%, 22%);
}
.third{
    background-color: hsl(179, 100%, 13%);
}
.third button{
    color:hsl(179, 100%, 13%);
}
.first, .second, .third{
    height: 450px;
    padding: 50px;
}
button{
    border-radius: 50px;
    border:none;
    padding: 15px 40px;
    margin-bottom: 40px;
    margin-top: 100px;
    font-weight: bold;
}
button:hover{
    border: 2px solid #fff;
    background: none;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease-in;

}
p{
    font-size: 17px;
    color: hsla(0, 0%, 100%, 0.75);
}

.attribution{
    position: fixed;
    bottom: 0;
    font-size: 12px;
    margin-bottom: 10px;
}

@media (max-width: 375px){
    .container{
        flex-direction: column;
        width: 330px;
        margin-top: 60px;
    }
    button{
        margin-top: 30px;
        margin-bottom: 0px;

    }
    .first, .second, .third{
        padding-bottom: 20px;
    }
    .attribution{
        display:none;
    }
}